RewriteEngine On

RewriteRule ^pdf/.*$ pdfGenerator.php [QSA,L]

RewriteCond %{REQUEST_FILENAME}  !=d
RewriteCond %{REQUEST_FILENAME} !=f
RewriteCond %{REQUEST_FILENAME} !=l

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

