.inicio {
    margin: auto;
}

.hola-inicio{
    margin-top: 50px;
    text-align: center;
    font-size: 100px;
}

.gsi-imagen-inicio{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
}

.gsi-view-imagen-inicio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-child {
    flex: 1;
    border: 2px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.boton-inicio{
    width:100%;
    display:block;
}

/* CSS personalizado para redondear los bordes del botón de confirmación */
.rounded-button {
    border-radius: 200px; /* Ajusta el valor según la cantidad de redondeo que desees */
}
